attrs==24.2.0
build==1.2.1
CacheControl==0.14.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cleo==2.1.0
click==8.1.7
colorama==0.4.6
crashtest==0.4.1
distlib==0.3.8
dulwich==0.21.7
Faker==30.8.1
fastjsonschema==2.20.0
filelock==3.15.4
grpcio==1.66.2
grpcio-tools==1.66.2
h11==0.14.0
idna==3.10
installer==0.7.0
jaraco.classes==3.4.0
jsonpath-ng==1.6.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
keyring==24.3.1
mailosaur==7.18.0
more-itertools==10.4.0
msgpack==1.0.8
natsort==8.4.0
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.1
pexpect==4.9.0
pkginfo==1.11.1
platformdirs==4.2.2
ply==3.11
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
protobuf==5.27.2
psycopg2==2.9.9
ptyprocess==0.7.0
pycparser==2.22
pyproject_hooks==1.1.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pywin32-ctypes==0.2.3
rapidfuzz==3.9.6
referencing==0.35.1
requests==2.32.3
requests-toolbelt==1.0.0
robotframework==7.1.1
robotframework-assertion-engine==3.0.3
robotframework-browser==18.9.1
robotframework-jsonlibrary==0.5
robotframework-mailclient==0.0.12
robotframework-pythonlibcore==4.4.1
robotframework-requests==1.0a11
robotframework-retryfailed==0.2.0
robotframework-seleniumlibrary==6.3.0
rpds-py==0.20.0
seedir==0.5.0
selenium==4.25.0
setuptools==75.2.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
tomlkit==0.13.2
trio==0.27.0
trio-websocket==0.11.1
trove-classifiers==2024.7.2
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
urllib3==2.2.3
virtualenv==20.26.3
websocket-client==1.8.0
wrapt==1.16.0
wsproto==1.2.0
